<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="main-fragment(title, otherStaticResources, header, nav, mainContent, footer)">
<head>

<title th:replace="${title}"></title>
<th:block  th:replace="~{/fragments/app-fragments::admin-static-resource}"></th:block>
<th:block th:replace="${otherStaticResources} ?: ~{}"></th:block>

</head>
<body>
<body>
<header  th:replace="~{/fragments/app-fragments::header-admin}">
	
</header>
	<section th:insert="${mainContent}?:~{}">
	
	</section>
	

<footer th:replace="~{/fragments/app-fragments::admin-footer}"></footer>
	
</body>
</html>